<div style="margin: 70px 0px 0px 70px" >
  <h4 id="title">マイページ画面</h4>
  <br>

<% if user_signed_in? && @user == current_user %>
 <p class="d-flex justify-content-end"></p>
 <% end %>
 <% if params[:id].nil? || @user.id == current_user.id %>
   <p>名前：<%= current_user.name %></p>
   <p>メールアドレス：<%= current_user.email %></p>
   <p>プロフィール画像：<%= image_tag current_user.image.url %></p>
   <p>次のご褒美獲得まで：<%= @task_count %> / 10 </p>
   <br>
   アカウントを編集しますか？
   <%= link_to "はい", edit_user_registration_path %>
   <br>
   ログアウトしますか？
   <%= link_to "はい", destroy_user_session_path, method: :delete %>
 <% end %>
 </div>
