<html>
<div class="home">
  <body class="h-100">
    <div class="container">
      <h1>Spoil Myself</h1>

      <div class="mainImage">
        <%= image_tag 'main.jpg',:size =>'700x480'%>
      </div>
      
      <div class="aboutSection">
      <h2>アプリについて<br><span>ABOUT<span></h2>
        <p>このアプリは、日々のやらなきゃいけないことを、ちょっぴり楽しい気持ちで管理・実行できるタスク管理アプリです。<br>やることを実行するたびに、ご褒美GETに近づきます！</p>
      <h2>使い方<br><span>HOW TO USE<span></h2>
      <ul>
        <li>
          <%= image_tag 'step1.jpg' %>
          <h3>ご褒美登録</h3>
          <p>やること遂行後に何のご褒美が欲<br>しいかを思い浮かべ、ご褒美画<br>面にご褒美を登録してね。</p>
        </li>
        <li>
          <%= image_tag 'step2.jpg' %>
          <h3>やること登録と遂行</h3>
          <p>やること画面にやることを10個登<br>録してね。遂行したら「完了」を<br>クリックしてね。</p>
        </li>
        <li>
          <%= image_tag 'step3.jpg' %>
          <h3>ご褒美獲得！</h3>
          <p>やることを10個遂行で、ご褒美<br>獲得です！</p>
        </li>
      <ul>
      </div>
      
      <div class="login">
      <% unless user_signed_in? %>
      　<div class="login">
      　  <ul>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "btn" %>
            </li>
            <li>
            <%= link_to "管理者ログイン", new_user_session_path, class: "btn2" %>
            </li>
        </ul>
        </div>
        <div class="guest_login">
          <ul>
          <li>
            <%= link_to 'ゲストログイン（一般）', guest_sign_in_path , method: :post, class: "guest" %>
          </li>
          <li>
            <%= link_to 'ゲストログイン（管理者）', guest_sign_in_path , method: :post, class: "guest2" %>
          </li>
          </ul>
        </div>
      <% end %>
      </div>

    </div>
  </body>
 </div>
</html>
