<!DOCTYPE html>
<html>
  <head>
    <title>Spoil Myself</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <nav class="navbar navbar-expand-md  navbar-light" style="background-color:#F2B16A;" >
      <div class="logo_area">
        <a class="navbar-brand" href="/"><%= image_tag 'logo.png', class: "logo" %></a>
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="bs-navi">
        <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "ご褒美", rewards_path, class: 'nav-link' %>
          </li>
          <li class="nav-item"
            <%= link_to "やること", tasks_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "スケジュール", schedules_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
        </ul>
      </div>
   </nav>

    <%= yield %> 
    <footer class="footer">
      <p>Copyright © 2021 Ogawa yuri</p>
    </footer>
  </body>
</html>
